{% extends "layout.html" %}

{% block contein %}
    <div class="asesores">
        <div class="">
            <h1>Asesores</h1>
            <a href="{% url 'createasesor' %}" class="">
                <svg width="20" height="20" fill="currentColor" class="mr-2" aria-hidden="true">
                <path d="M10 5a1 1 0 0 1 1 1v3h3a1 1 0 1 1 0 2h-3v3a1 1 0 1 1-2 0v-3H6a1 1 0 1 1 0-2h3V6a1 1 0 0 1 1-1Z" />
                </svg>
                Nuevo
            </a>
        </div>
        <form method="get">
            <select name="ciudad">
                <option value="">-- Selecciona una ciudad --</option>
                
                {% for sucursal in ciudades %}
                    <option value="{{ sucursal.city }}">{{ sucursal.city }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Filtrar">
            <input type="submit" name="todos" value="Todos">
        </form>

        <div class="bg-black">
            <table class="table-fixed">
                <tr>
                    <td>Asesor</td>
                    <td>Sucursal</td>
                    <td>Tabla Comisiones</td>
                    <td></td>
                </tr>
                {% for asesor in asesores %}
                <tr>
                    <td>{{ asesor.name }}</td>
                    <td>{{ asesor.sucursal }}</td>
                    <td><a href="{% url 'comisionesAsesor' asesor.name %}">Comisiones</a></td>
                    <td><a href="{% url 'deleteasesor' asesor.id %}" onclick="return confirm('Esta seguro de eliminar el asesor {{asesor.name}}?')">Borrar</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div>
        </div>
    </div>    
{% endblock  %}
