{% extends "layout.html" %}

{% block contein %}
    <h1>Sucursales</h1>
    <div>
        <table>
            <tr>
                <td>Sucursal</td>
                <td></td>
            </tr>
            {% for city in citys %}
                <tr>
                    <td>{{city.city}}</td>
                    <td><a href="{% url 'deletesucursal' city.id %}" onclick="return confirm('Esta seguro de eliminar la sucursal {{city.city}}?')">Borrar</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <a href="{% url 'createsucursal' %}">Sucursal Nueva</a>
    </div>
{% endblock  %}