{% extends "layout.html" %}

{% block contein %}
    <h1>Comisiones CDATS</h1>
    <div>
        <a href="{% url 'createcdat' %}">Nuevo CDAT</a>
        <table>
            <tr>
                <td>Monto desde</td>
                <td> hasta</td>
                <td>Comision x Millon</td>
                <td>Tipo de recurso</td>
                <td></td>
                <td></td>
            </tr>
            {% for cdat in cdats %}
                <tr>
                    <td>{{cdat.since}}</td>
                    <td>{{cdat.until}}</td>
                    <td>{{cdat.value}}</td>
                    <td>{{cdat.type}}</td>
                    <td><a href="{% url 'updatecdat' cdat.id %}">Actualizar</a></td>
                    <td><a href="{% url 'deletecdat' cdat.id %}" onclick="return confirm('Esta seguro de eliminar esta comision de Cdat?')">Eliminar</a></td>
                </tr>
            {% endfor %}
        </table>
    <a href="{% url 'types_comisiones' %}"><h3>Volver</h3></a>
    </div>
{% endblock  %}