{% extends "layout.html" %}

{% block contein %}
    <h1>Comisiones CDATS</h1>
    <div>
        <table>
            <tr>
                <td>Monto desde</td>
                <td>Monto hasta</td>
                <td>Comision x Millon</td>
                <td>Tipo de recurso</td>
            </tr>
            {% for cdat in cdats %}
                <tr>
                    <td>{{cdat.since}}</td>
                    <td>{{cdat.until}}</td>
                    <td>{{cdat.value}}</td>
                    <td>{{cdat.type}}</td>
                </tr>
            {% endfor %}
        </table>
    <a href="{% url 'types_comisiones' %}"><h3>Volver</h3></a>
    </div>
{% endblock  %}