{% extends "layout.html" %}

{% block contein %}
    <h2>Tipos de Comisiones</h2>
    <div>
        <h3>Asesores Internos, Externos, Master, Coodinadores y Directores</h3>
        <ul>
            <a href="{% url 'afiliaciones'%}"><li>Afiliaciones</li></a>
            <a href="{% url 'colocaciones' %}"><li>Colocaciones</li></a>
            <a href="{% url 'cdats' %}"><li>Cdats</li></a>
            <a href="{% url 'cooviahorros' %}"><li>Cooviahorros</li></a>
            <a href="{% url 'ahorrovista' %}"><li>Ahorro Vista</li></a>
        </ul>
    </div>
    <div>
        <h3>Directores y Coodinadores de Oficina y Canal</h3>
        <ul>
            <a href="{% url 'baseSocial' %}"><li>Crecimiento Base Social</li></a>
            <a href="{% url 'cartera' %}"><li>Crecieminto Cartera productiva (Clif. A y B)</li></a>
            <a href="{% url 'crecimientoCdat' %}"><li>Crecimiento Saldo CDAT</li></a>
            <a href="{% url 'crecimientoCooviahorro' %}"><li>Crecimiento Saldo Cooviahorro</li></a>
            <a href="{% url 'captacionesAhorro' %}"><li>Captacion Ahorro Vista</li></a>
            <a href="{% url 'utilidad' %}"><li>Utilidad de Oficina o Canal</li></a>
        </ul>
    </div>
{% endblock  %}