{% extends "layout.html" %}

{% block contein %}
    <h2>Tipos de Comisiones</h2>
    <div>
        <h3>Asesores Internos, Externos, Master, Coodinadores y Directores</h3>
        <ul>
            <a href="{% url 'afiliaciones'%}"><li>Afiliaciones</li></a>
            <a href="{% url 'colocaciones' %}"><li>Colocaciones</li></a>
            <a href="{% url 'cdats' %}"><li>Cdats</li></a>
            <a href="{% url 'cooviahorros' %}"><li>Cooviahorros</li></a>
            <a href="{% url 'ahorrovista' %}"><li>Ahorro Vista</li></a>
        </ul>
    </div>
    <div>
        <h3>Directores y Coodinadores de Oficina y Canal</h3>
        <ul>
            <li>Crecimiento Base Social</li>
            <li>Crecieminto Cartera productiva (Clif. A y B)</li>
            <li>Crecimiento Saldo CDAT</li>
            <li>Crecimiento saldo CDAT</li>
            <li>Captacion Ahorro Vista</li>
            <li>Utilidad de Oficina o Canal</li>
        </ul>
    </div>
{% endblock  %}