{% extends "layout.html" %}

{% block contein %}
    <div>
        <h2>Actualizar Crecimiento Saldo CDAT</h2>
        <form method="POST">
            {% csrf_token %}
            <div>
                <label for="since">Por cada monto en el saldo total</label>
                <input type="float" id="since" name="since" value={{coovi.since}} required>
            </div>
            <div>
                <label for="value">Valor comision</label>
                <input type="number" id="value" name="value" value={{coovi.value}} required>
            </div>
            <input type="submit" value="Actualizar" onclick="return confirm('Esta seguro de actualizar este Cooviahorro Comisión')"/>
        </form>
    </div>
    <a href="{% url 'crecimientoCooviahorro' %}">Volver</a>
{% endblock contein %}
