{% extends "layout.html" %}

{% block contein %}
    <div>
        <h2>Nuevo rango Utilidad</h2>
        <form method="POST">
            {% csrf_token %}
            <div>
                <label for="rangoMin">Rango margen desde</label>
                <input type="float" id="rangoMin" name="rangoMin" required>
            </div>
            <div>
                <label for="rangoMax">Rango margen hasta</label>
                <input type="float" id="rangoMax" name="rangoMax" required>
            </div>
            <div>
                <label for="small">Categoria Ofinica-Canal Pequea</label>
                <input type="number" id="small" name="small" required>
            </div>
            <div>
                <label for="medium">Categoria Oficina-Canal Mediana</label>
                <input type="number" id="medium" name="medium" required>
            </div>
            <div>
                <label for="big">Categoria Oficina-Canal Grande</label>
                <input type="number" id="big" name="big" required>
            </div>
            <input type="submit" value="Crear"/>
        </form>
    </div>
    <a href="{% url 'utilidad' %}">Volver</a>
{% endblock contein %}
